* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg-full {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/start.png);
    opacity: 0.6;
}

.join {
    left: 0;
    z-index: 1;
    width: 55%;
    height: 100vh;

    h1{
        text-shadow: black 2px 2px;
    }
    
    .community {
        position: absolute;
        bottom: 0;
        font-size: 30px;
    }
}
@media (max-whith:780px){
        
}

.login{
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #494949;
    width: 45%;
    height: 100vh;

    .login-card  {
        width: 50%;

        .login-icon {
            font-size: 38px;

        }
    }
    
}

