body {

    .navbar {
        background-color: rgb(10, 10, 70);
    }

    
    
}


footer {

    .footer-nav{
        background-color: #D9DFE7;
        opacity: 0.8;

        p {
            font-size: 12px;
        }
        
    }


 }